@use "@st/utils";

.title {
	color: var(--c-primary-800);
	margin-bottom: 1.5rem;
	@extend .text-h2;
}

.wrapper {
	display: flex;
	flex-direction: column;
  gap: 1rem
}

.text {
	@extend .text-md;
	max-width: 30rem;
	color: var(--c-primary-500);
}
