@use "@st/utils";

.clarification {
	--_titleColor: var(--c-white);
	--_subTitleColor: var(--c-white);
	--_textColor: var(--c-primary-300);

	&.light {
		--_titleColor: var(--c-primary-800);
		--_subTitleColor: var(--c-primary-800);
		--_textColor: var(--c-primary-600);
	}
}

.title {
	@extend .text-h2;
	color: var(--_titleColor);
	margin-bottom: 1.5rem;
}

.subtitle {
	@extend .text-h4;
	color: var(--_subTitleColor);
	margin-bottom: 1.25rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.text {
	@extend .text-md;
	color: var(--_textColor);
}
