.text {

  // Font size
  &-h1 {
    font-size: var(--fs-desct-tab-h1);

    @media (width <=768px) {
      font-size: var(--fs-tab-mob-h1);
    }
  }

  &-h2 {
    font-size: var(--fs-desct-tab-h2);

    @media (width <=768px) {
      font-size: var(--fs-tab-mob-h2);
    }
  }

  &-h3 {
    font-size: var(--fs-desct-tab-h3);

    @media (width <=768px) {
      font-size: var(--fs-tab-mob-h3);
    }
  }

  &-h4 {
    font-size: var(--fs-desct-tab-h4);

    @media (width <=768px) {
      font-size: var(--fs-tab-mob-h4);
    }
  }

  &-md {
    font-size: var(--fs-desct-tab-md);

    @media (width <=768px) {
      font-size: var(--fs-tab-mob-md);
    }
  }

  &-sm {
    font-size: var(--fs-desct-tab-sm);

    @media (width <=768px) {
      font-size: var(--fs-tab-mob-sm);
    }
  }

  &-copyright {
    font-size: var(--fs-copyright);
  }

  // Line height
  &-h1,
  &-h2,
  &-h3 {
    line-height: 1.2;
  }

  @media (width <= 480px) {
    &-h3 {
      line-height: 1.4;
    }
  }

  &-h4 {
    line-height: 1.3;
  }

  &-md,
  &-sm,
  &-xs {
    line-height: 1.4;
  }

  // Wont weight
  &-h1 {
    font-weight: var(--fw-bold);
  }

  &-h2,
  &-h3 {
    font-weight: var(--fw-semi);
  }

  &-h4,
  &-md {
    font-weight: var(--fw-med);
  }

  &-sm,
  &-xs {
    font-weight: var(--fw-reg);
  }
}