.fs-h1,
.fs-h2,
.fs-h3 {
  line-height: 1.2;
}

.fs-sm,
.fs-xs {
  line-height: 1;
}

.fs-h2,
.fs-h3 {
  font-weight: 600;
}

.fs-h4,
.fs-sm,
.fs-xs {
  font-weight: 500;
}


.fs-h1 {
  font-size: clamp(1.875rem, 1.3636rem + 2.1818vw, 3rem);
  font-weight: 700;
}

.fs-h2 {
  font-size: clamp(1.5rem, 1.1591rem + 1.4545vw, 2.25rem);
}

.fs-h3 {
  font-size: clamp(1.125rem, 0.9545rem + 0.7273vw, 1.5rem);
}

.fs-h4 {
  font-size: clamp(1rem, 0.8864rem + 0.4848vw, 1.25rem);
  line-height: 1.3;
}

.fs-md {
  font-size: clamp(0.875rem, 0.7614rem + 0.4848vw, 1.125rem);
  line-height: 1.4;
}

.fs-sm {
  font-size: clamp(0.75rem, 0.6364rem + 0.4848vw, 1rem);
}

.fs-xs {
  font-size: clamp(0.625rem, 0.5114rem + 0.4848vw, 0.875rem);
}