@use "@st/utils";

.sendEmail {
  header {
    margin-bottom: 1.5rem;
  }
}

.description {
  .wrapper {
    margin-inline: auto;
    max-width: 37.5rem;
  }
}

.benefits {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 22.5rem);
    gap: 5rem;
  }
}
