@use "@st/utils";

.contact {
	.content {
		// grid-template-columns: repeat(auto-fit, minmax(360px, 620px));
		display: grid;
		grid-template-columns: 360px min(100%, 620px);
		justify-content: center;
		grid-template-rows: 1fr;
		gap: 1rem;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
		}
	}

	.img {
		// max-width: 41.875rem;
	}
}
