@use '@st/utils';
@use '@st/mix' as *;

.hero {
  @extend .bg-primary;
  padding-block: clamp(1.875rem, 1.5385rem + 1.2821vw, 2.5rem) clamp(3.75rem, 2.4038rem + 5.1282vw, 6.25rem);
}

.contentBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  isolation: isolate;
  padding: clamp(2.75rem, -5.6944rem + 17.5926vw, 7.5rem) clamp(4rem, -10rem + 29.1667vw, 11.875rem);
  border-radius: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
  overflow: hidden;
  margin-bottom: clamp(1.875rem, -0.4808rem + 8.9744vw, 6.25rem);

  @media (width <=768px) {
    @include adaptiveValue('padding-block', 44, 84, 768, 420);
    padding-inline: clamp(1rem, -2.6207rem + 13.7931vw, 4rem);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-blue);
    opacity: 0.35;
    z-index: var(--z-fall);
    pointer-events: all;
  }
}

.title {
  font-size: clamp(1.75rem, 0.8077rem + 3.5897vw, 3.5rem);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.text {
  @extend .text-h3;

  &:first-of-type {
    max-width: 38ch;
    margin-bottom: 1rem;
  }

  &:nth-of-type(2) {
    max-width: 42ch;
  }

  &:last-of-type {
    margin-bottom: 2.5rem;
  }

}

.btn {
  @extend .text-md;
  max-width: 13.5rem;

  @media (width <=425px) {
    max-width: unset;
  }
}

.video {
  position: absolute;
  inset: 0;
  z-index: var(--z-fall);
  width: 100%;
  height: 100%;
  object-fit: cover;
}