@use "@st/utils";
@use "@st/mix" as *;

.introduction {
	.block {
		.text {
			max-width: 34.375rem;
		}
	}
}

.offer {
	.swiper {
		@media (575px < width <= 1110px) {
      padding-bottom: 3.125rem;
    }
    
    & > * {
			@media (width <= 575px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2rem;

				& > * {
					margin-right: 0 !important;
				}
			}
		}
    @media (width <= 575px) {
      :global {
        .swiper-pagination-bullets {
          display: none;
        }
      }
      & > div:nth-last-of-type() {
        display: none !important;
      }
    }
	}

	.slide {
		width: min-content;
		height: auto;

		iframe {
			min-height: 19.6875rem !important;
		}

		@media (width <= 575px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1.25rem;
		width: 21.4375rem;
		height: 100%;

		@media (width <= 575px) {
			width: 21rem;
		}

		& > * {
			& > * {
				& > * {
					min-height: 19.6875rem !important;
				}
			}
		}
	}

	.btn {
		max-width: 100%;
	}
}

.faq {
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
	}
}

.startSection {
	header {
		margin-bottom: 1.5rem;
	}

	.btn {
		margin-inline: auto;
	}
}

.investments {
	.wrapper {
		display: grid;
		grid-template-columns: 17rem 17rem;
		gap: clamp(1.5rem, -5.9254rem + 15.4696vw, 5rem);

		@media (width <= 991px) {
			grid-template-columns: 20rem 20rem;
		}

		@media (width <= 768px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (width <= 575px) {
			grid-template-columns: 18rem;
			padding: 0;
		}
	}

	.block {
		padding: 1rem;
		// @media (width <= 575px) {
		// 	padding: 0;
		// }
		@media (width <= 575px) {
			gap: 1rem;
		}
	}

	.text {
		font-size: var(--fs-desc-sm);
	}

	.layout {
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		@media (width <= 991px) {
			flex-direction: column;
			align-items: center;
		}
	}

	.img {
		border-radius: 0.375rem;
		object-fit: cover;

		@media (width <= 991px) {
			width: 100%;
			max-height: 18.75rem;
		}
	}
}

.startSection {
	padding-block: 6.25rem;

	@media (width <= 768px) {
		padding-block: clamp(4.375rem, 2.1121rem + 8.6207vw, 6.25rem);
	}
}
