@use "@st/utils";

.offerList {
	.wrapper {
		display: flex;
		gap: 1.5rem;
	}

	.block {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		max-width: 22.5rem;
		width: 100%;
	}

	.btn {
		max-width: 100%;
	}
}

.faq {
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
	}
}

.startSection {
	header {
		margin-bottom: 1.5rem;
	}
	.btn {
		margin-inline: auto;
	}
}
