@use "@st/utils";

.block {
	display: flex;
	align-items: center;
	gap: 1rem;

	@media (width <=768px) {
		width: 100%;
		justify-content: center;
	}

	@media (width <=480px) {
		width: 100%;
		justify-content: center;
		flex-direction: column;
	}

	.btn {
		min-width: 12rem;
		max-width: max-content;

		@media (width <=768px) {
			min-width: unset;
			max-width: 12rem;
		}

		@media (width <=480px) {
			max-width: 100%;
		}
	}
}
