@use "@st/utils";

.registration {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: clamp(2rem, 1rem + 8vw, 13.5rem);
	padding-block: 6.25rem;
}

.wrapper {
	max-width: 22.5rem;
	width: 100%;
	text-align: center;
}

.logo {
	width: 6.875rem;
	height: auto;
	margin-bottom: 1.5rem;
	margin-inline: auto;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	gap: 1.5rem;
}

.title {
	margin-bottom: 1.5rem;
}

.subText {
	@extend .text-h3;
	color: var(--c-primary-600);
	margin-bottom: 1.875rem;
}

.label {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	@extend .text-sm;
	color: var(--c-primary-800);
	text-align: left;
	width: 100%;

	> p {
		color: var(--c-red);
    font-size: .75rem;
	}
}

.input {
	display: block;
	border: 1px solid var(--c-primary-300);
	border-radius: 0.5rem;
	width: 100%;
	padding: 0.6875rem 0.875rem;
	outline: none;
	transition-duration: var(--t-time);
	margin-bottom: 0.25rem;

	&:focus {
		border-color: var(--c-primary-500);
	}

	&::placeholder {
		opacity: 0.5;
	}
}

.numberIcon {
  max-width: 20px;
}

.btn {
	max-width: 100%;
}

.img {
	max-width: 22.5rem;
	min-height: 42.1875rem;
	object-fit: cover;
}
