@use "@st/utils";

.confidence {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}

	@media (width <=768px) {
		.wrapper {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}

	.block {
		max-width: 30rem;
		gap: 1.5rem;
	}
	.img {
		margin-left: auto;
		max-width: 30rem;
	}
}

.statsBlock {
	header p {
		max-width: 34rem;
	}
	.layout {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
		justify-items: center;
		place-content: center;
		gap: clamp(1rem, 2vw, 1.5rem);

		@media (700px <=width <=940px) {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.advantagesBlock {
	padding-block: clamp(4.375rem, 2.3864rem + 8.4848vw, 8.75rem);

	.layout {
		@extend .six-pack-grid;

		> * {
			padding: 1.5rem;
		}
	}
}

.transformation {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		@media (width <=768px) {
			flex-direction: column;
			text-align: center;
			gap: clamp(1rem, -0.2069rem + 4.5977vw, 2rem);
		}
	}

	.block {
		max-width: 24rem;

		.title {
			max-width: 17ch;
			margin-inline: auto;
		}

		.text {
			max-width: 19rem;

			@media (width <=768px) {
				margin-inline: auto;
				font-size: var(--fs-tab-mob-h4);
			}
		}
	}
}
