@use "@styles/vars" as *;

.btn {
	text-align: center;
	border-radius: 0.375rem;
	background-color: var(--c-green-100);
	max-width: 12rem;
	width: 100%;
	transition-duration: 0.2s;

	&::first-letter {
		text-transform: uppercase;
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--c-green-200);
		}
	}

	&:active {
		background-color: var(--c-green-300);
	}
}
