@use "@st/utils";

.btn {
  @extend .text-md;
  &.fill {
    --_bg-color: var(--c-green-500);
    --_hover-bg-color: var(--c-green-600);
    --_active-bg-color: var(--c-green-700);
  }

  &.frame {
    --_border-w: 0.0625em;
    --_bg-color: transparent;
    --_hover-bg-color: var(--c-green-200);
    --_active-bg-color: var(--c-green-300);
    border: var(--_border-w) solid var(--c-green-500);
    color: var(--c-primary-700);
  }

  &.dark {
    --_bg-color: transparent;
    --_hover-bg-color: var(--c-primary-600);
    --_active-bg-color: var(--c-primary-500);
  }

  display: block;
  padding: calc(0.75rem - var(--_border-w, 0rem)) calc(1rem - var(--_border-w, 0rem));
  max-width: 12rem;
  width: 100%;
  color: var(--c-white);
  text-align: center;
  transition-duration: var(--t-time);
  background-color: var(--_bg-color);
  border-radius: 0.375rem;

  &::first-letter {
    text-transform: uppercase;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--_hover-bg-color);
    }
  }

  &:active {
    background-color: var(--_active-bg-color);
  }
}