@use "@st/utils";
.comment {
	padding: 1.5rem;
	border-radius: 0.375rem;
	background-color: var(--c-primary-700);
}
.text {
	@extend .text-sm;
	margin-bottom: 2.5rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.position {
	color: var(--c-primary-300);
}
