@use "@st/utils";
@use "@st/mix" as *;

.wseDescription {
	.content {
		display: flex;
		align-items: flex-start;
		gap: clamp(1.5rem, -1.162rem + 10.1408vw, 6rem);

		@media (width <=768px) {
			flex-direction: column;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: clamp(1.5rem, -0.5704rem + 7.8873vw, 5rem);
	}

	.block {
		max-width: 34.5rem;
		gap: 1.25rem;

		@media (width <=768px) {
			max-width: 100%;
		}
	}
	.img {
		@media (width <=480px) {
      width: 100%;
		}
	}
}

.testimonialsBlock {
	padding-top: clamp(2.1875rem, -1.1274rem + 6.9061vw, 3.75rem);

	@media (width <=768px) {
		@include adaptiveValue("padding-top", 35, 60, 768, 480);
	}
}

.tickerTapeWidget {
	padding-top: 0;
}

.account {
	header {
		margin-bottom: 1.5rem;
	}

	.block {
		justify-content: center;
	}
}
