@use "@st/utils";

.clarificationGroup {
	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		@media (width <= 768px) {
			grid-template-columns: 1fr;
		}
	}

	.text {
		font-size: var(--fs-desc-sm);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.title {
			font-size: var(--fs-desct-tab-h3);
		}
	}
}

.finances {
	.content {
		display: flex;
		flex-direction: column;
		gap: clamp(2rem, -0.5141rem + 9.5775vw, 6.25rem);
	}
  
	.wrapper {
		display: flex;
		justify-content: space-between;
		gap: 3rem;

		@media (width <= 768px) {
			flex-direction: column;
		}

		&:last-of-type {
			.title {
				text-align: left;
			}
		}

		&:nth-of-type(2) {
			flex-direction: column-reverse;
		}
	}

	.heading {
		flex: 1 1;
	}

	.title {
		@extend .text-h3;
		margin-bottom: 2.8125rem;
		text-align: center;
	}

	.img {
		flex: 1 0;
	}
}

.contacts {
	.wrapper {
		flex-direction: row;

		@media (width <= 768px) {
			flex-direction: column;
		}
	}
}

.account {
	header {
		margin-bottom: 1.5rem;
	}

	.btn {
		margin-inline: auto;
	}
}
