.btn {
  padding: 0.875rem 0.375rem;
  font-size: 0;
  border-radius: 0.375rem;
  &.light {
    --_hover-bg-color: var(--c-primary-700);
    --_active-bg-color: var(--c-primary-600);
  }

  &.dark {
    --_hover-bg-color: var(--c-primary-200);
    --_active-bg-color: var(--c-primary-400);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--_hover-bg-color);
    }
  }

  &:active {
    background-color: var(--_active-bg-color);
  }
}