@use "@st/utils";

.mission {
	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: clamp(2rem, -0.3662rem + 9.0141vw, 5rem);
		align-items: flex-start;

		@media (width <= 991px) {
			grid-template-columns: 1fr;
		}
	}

	.block {
		max-width: 34.375rem;

		.title {
			@extend .text-h3;
		}

		.subTitle {
			font-size: var(--fs-desc-h4);
			color: var(--c-primary-600);
		}

		.text {
			font-size: var(--fs-desc-md);

			@media (width <= 480px) {
				font-size: var(--fs-desc-sm);
			}
		}
	}

	.img {
		@media (width <= 991px) {
			max-width: 30rem;
			margin-inline: auto;
		}
	}
}

.history {
	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: clamp(2rem, -0.3662rem + 9.0141vw, 6rem);
		align-items: flex-start;

		@media (width <= 991px) {
			grid-template-columns: 1fr;
		}

		.block {
			max-width: 34.375rem;
			@media (width <= 768px) {
				max-width: 100%;
				font-size: var(--fs-desc-sm);
			}
			.subTitle {
				@extend .text-h4;
			}

			.text {
				font-size: var(--fs-desc-md);
        @media (width <= 768px) {
          max-width: 100%;
        }
				@media (width <= 480px) {
					font-size: var(--fs-desc-sm);
				}
			}
		}
	}

	// .block {

	// 	h2 {
	// 		@extend .text-h3;
	// 	}

	// 	p {
	// 		font-size: var(--fs-desc-md);
	// 	}
	// }

	.img {
		@media (width <= 991px) {
			max-width: 30rem;
			margin-inline: auto;
		}
	}
}

.values {
	.wrapper {
		display: flex;
		gap: 2rem;
		justify-content: space-between;

		@media (width <= 768px) {
			flex-direction: column;
			max-width: 550px;
			margin-inline: auto;
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
	}

	.img {
		border-radius: 0.375rem;
	}

	.block {
		max-width: 34.375rem;

		h3 {
			font-size: var(--fs-tab-mob-h3);
		}

		p {
			font-size: var(--fs-desc-sm);
			font-weight: var(--fw-med);
		}
	}
}
