@use '@st/utils';

.header {
  position: sticky;
  top: 0;
  z-index: var(--z-highest);
  background-color: var(--c-white);

  &>* {
    color: var(--c-primary-800)
  }

  &.dark {
    @extend .bg-primary;

    &>* {
      color: var(--c-white)
    }
  }
}

.burgerMenuBackdrop {
  position: fixed;
  inset: 0;
}

.logo {
  @extend .icon-button-fs
}

.burgerBtn {
  margin-right: clamp(1rem, 4vw, 3.5rem);
}

.wrapper {
  display: flex;
  align-items: center;
  padding-block: .75rem;
  position: relative;
}

.btn {
  max-width: 10.5rem;
  margin-left: auto;
}