@use '@st/utils';

.header {
  position: relative;
  & > *{
    color: var(--c-primary-800)
  }
  &.dark {
    @extend .bg-primary;
    & > *{
      color: var(--c-white)
    }
  }
  
}

.logo {
  @extend .icon-button-fs
}

.burgerBtn {
  margin-right: clamp(1rem, 4vw, 3.5rem);
}

.wrapper {
  display: flex;
  align-items: center;
  padding-block: .75rem;
	position: relative;
  z-index: 10;
}

.btn {
  max-width: 10.5rem;
  margin-left: auto;
}
