@use "@st/utils";

.finances {
	display: grid;
	grid-template-columns: repeat(2, 16.5625rem);
	// grid-template-rows: repeat(2, 1fr);
	gap: 1.5rem;
	grid-auto-flow: row;

	&.threeEl {
		& > *:nth-of-type(2) {
			grid-row: 1 / 3;
			grid-column: 2;
			align-self: center;

			@media (width <= 575px) {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}

  @media (width <= 991px) {
    grid-template-columns: repeat(2, 18.75rem);
	}

	@media (width <= 768px) {
    grid-template-rows: 1fr;
	}

	@media (width <= 660px) {
    grid-template-columns: 1fr;
	}
}

.title {
  font-size: var(--fs-desc-h4);
	line-height: 1.5;
	color: var(--_color-title);
  font-weight: var(--fw-med);
	margin-bottom: 0.75rem;
}

.text {
  font-size: var(--fs-desc-sm);
	line-height: 1.5;
  font-weight: var(--fw-med);
	color: var(--_color-text);
}
