@use '@st/utils';

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: absolute;
  padding: 2.5rem 1.5rem;
  background-color: var(--c-primary-700);
  z-index: var(--z-highest);
  min-width: 19rem;
  top: 100%;
  left: -1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.logo {
  @extend .icon-button-fs;

  .icon {
    width: 75px;
    height: 25px;
  }
}

.closeBtn {
  padding: 0.5rem;
  @extend .icon-button-fs;
  border-radius: .25rem;

  @media (hover: hover) {
    &:hover {
      background-color: var(--c-primary-600);
    }
  }

  &:active {
    background-color: var(--c-primary-500);
  }
}

.cross {
  width: 1rem;
  height: 1rem;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  li {
    width: 100%;
  }
}

.navLink {
  text-align: left;
  font-size: var(--fs-desc-sm);
}

.dropdownTrigger {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: .2s;

  &.dropped {
    grid-template-rows: 1fr;
  }

  > * {
    overflow: hidden;
  }

  .navLink {
    padding-left: 2.5rem;
  }
}

.signUp,
.navLink {
  max-width: unset;
}