@use "@st/utils";

.sustainableWrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.universalHeading {
	header {
		margin-bottom: 1.5rem;
	}
}

.faqList {
	display: flex;
	flex-direction: column;
  align-items: center;
	gap: 1.25rem;
}
