@use '@st/utils';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1rem 1.5rem;
}

.logo {
  margin-bottom: 2rem;
}

.icon {
  width: clamp(14.125rem, 7.465rem + 25.0729vw, 19.5rem);
  height: clamp(0.8125rem, 0.4253rem + 1.4577vw, 1.125rem);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  max-width: 42.5rem;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  gap: clamp(0rem, -0.5385rem + 2.0513vw, 1rem);
  width: 100%;
  margin-top: clamp(0rem, -0.2692rem + 1.0256vw, 0.5rem);
  justify-content: space-evenly;
}

.link {
  @extend .text-sm;
  padding: clamp(0.375rem, 0.2404rem + 0.5128vw, 0.625rem) clamp(0.625rem, 0.2885rem + 1.2821vw, 1.25rem);
  width: fit-content;
}