:root {
  --c-primary-800: hsl(218, 22%, 21%);
  --c-primary-700: hsl(216, 23%, 26%);
  --c-primary-600: hsl(216, 23%, 39%);
  --c-primary-500: hsl(216, 24%, 43%);
  --c-primary-400: hsl(216, 17%, 60%);
  --c-primary-300: hsl(216, 17%, 77%);
  --c-primary-200: hsl(215, 17%, 86%);
  --c-primary-100: hsl(220, 26%, 93%);
  --c-green-700: hsl(142, 72%, 29%);
  --c-green-600: hsl(142, 76%, 36%);
  --c-green-500: hsl(142, 71%, 45%);
  --c-green-400: hsl(142, 69%, 58%);
  --c-green-300: hsl(142, 77%, 73%);
  --c-green-200: hsl(141, 79%, 85%);
  --c-green-100: hsl(138, 76%, 97%);
  --c-black: hsl(0, 0%, 2%);
  --c-blue: hsl(217, 93%, 23%);
  --c-white: hsl(218, 100%, 100%)
  --c-red: hsl(7, 66%, 48%);
}
