:root {
  --container-max-w: 70.625rem;
  --container-inline-p: 2rem;

  // colors
  --c-primary-800: hsl(218, 22%, 21%);
  --c-primary-700: hsl(216, 23%, 26%);
  --c-primary-600: hsl(216, 23%, 39%);
  --c-primary-500: hsl(216, 24%, 43%);
  --c-primary-400: hsl(216, 17%, 60%);
  --c-primary-300: hsl(216, 17%, 77%);
  --c-primary-200: hsl(215, 17%, 86%);
  --c-primary-100: hsl(220, 26%, 93%);
  --c-green-700: hsl(142, 72%, 29%);
  --c-green-600: hsl(142, 76%, 36%);
  --c-green-500: hsl(142, 71%, 45%);
  --c-green-400: hsl(142, 69%, 58%);
  --c-green-300: hsl(142, 77%, 73%);
  --c-green-200: hsl(141, 79%, 85%);
  --c-green-100: hsl(138, 76%, 97%);
  --c-black: hsl(0, 0%, 2%);
  --c-blue: hsl(217, 93%, 23%);
  --c-white: hsl(218, 100%, 100%);
  --c-red: hsl(7, 66%, 48%);

  // font-weight
  --fw-xbold: 800;
  --fw-bold: 700;
  --fw-semi: 600;
  --fw-med: 500;
  --fw-reg: 400;

  // font-size
  //desktop
  --fs-desc-h1: 3rem; //asdaw
  --fs-desc-h2: 2.25rem;
  --fs-desc-h3: 1.5rem;
  --fs-desc-h4: 1.25rem;
  --fs-desc-md: 1.125rem;
  --fs-desc-sm: 1rem;
  // from desktop to tablet
  --fs-desk-tab-h1: clamp(2.375rem, 1.049rem + 2.7624vw, 3rem);
  --fs-desk-tab-h2: clamp(2rem, 1.4696rem + 1.105vw, 2.25rem);
  --fs-desk-tab-h3: clamp(1.25rem, 0.7196rem + 1.105vw, 1.5rem);
  --fs-desk-tab-h4: clamp(1.125rem, 0.8598rem + 0.5525vw, 1.25rem);
  --fs-desk-tab-md: clamp(1rem, 0.7348rem + 0.5525vw, 1.125rem);
  --fs-desk-tab-sm: clamp(0.875rem, 0.6098rem + 0.5525vw, 1rem);
  //tablet
  --fs-tab-h1: 2.375rem;
  --fs-tab-h2: 2rem;
  --fs-tab-h3: 1.25rem;
  --fs-tab-h4: 1.125rem;
  --fs-tab-md: 1rem;
  --fs-tab-sm: 0.875rem;
  // from tablet to mobile
  --fs-tab-mob-h1: clamp(1.875rem, 1.2716rem + 2.2989vw, 2.375rem);
  --fs-tab-mob-h2: clamp(1.5rem, 0.8966rem + 2.2989vw, 2rem);
  --fs-tab-mob-h3: clamp(1.125rem, 0.9741rem + 0.5747vw, 1.25rem);
  --fs-tab-mob-h4: clamp(1rem, 0.8491rem + 0.5747vw, 1.125rem);
  --fs-tab-mob-md: clamp(0.875rem, 0.7241rem + 0.5747vw, 1rem);
  --fs-tab-mob-sm: clamp(0.75rem, 0.5991rem + 0.5747vw, 0.875rem);
  //mobile
  --fs-mob-h1: 1.875rem;
  --fs-mob-h2: 1.5rem;
  --fs-mob-h3: 1.125rem;
  --fs-mob-h4: 1rem;
  --fs-mob-md: 0.875rem;
  --fs-mob-sm: 0.75rem;

  --fs-copyright: clamp(0.625rem, 0.3233rem + 1.1494vw, 0.875rem);

  // z-index
  --z-highest: 1000;
  --z-high: 100;
  --z-low: 10;
  --z-lower: 1;
  --z-fall: -1;

  // animation
  --t-time: .2s;

  //shadow
  --shadow: 0 4px 4px color-mix(in hsl, var(--c-primary-400) 17%, transparent);
  --shadow-dark: 3px 3px 6.7px color-mix(in hsl, var(--c-primary-800) 46%, transparent);
}
