@use "@st/utils";

.regulationInfo {
	.contentWrapper {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		gap: 6rem;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3.75rem;
	}

	.reversedWrapper {
		display: flex;
		align-items: center;
		gap: 6rem;
	}

	.block {
		max-width: 30rem;
		p {
			font-size: var(--fs-desc-sm);
		}
	}
}

.clarificationGroup {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: clamp(2.5rem, 1.0211rem + 5.6338vw, 5rem)
			clamp(2.5rem, -2.2324rem + 18.0282vw, 10.5rem);
		@media (width <= 575px) {
			grid-template-columns: 1fr;
		}
	}

	.block {
		max-width: 30rem;

		h2 {
			@extend .text-h3;
		}

		p {
			@extend .text-sm;
		}
	}
}

.comments {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1.5rem;

		@media (width <= 991px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (width <= 575px) {
			grid-template-columns: 1fr;
		}
	}
}

.explanation {
	padding-bottom: 3.125rem;

	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
		@media (width <= 768px) {
			grid-template-columns: 1fr;
		}
	}

	.block {
		@media (width <= 768px) {
		}
	}

	.item {
		@extend .text-md;
		display: list-item;
		color: var(--c-primary-600);
		margin-left: 1.5rem;

		span {
			color: var(--c-red);
		}
	}
}

.sendMail {
	padding-top: 3.125rem;

	header {
		margin-bottom: 2.5rem;
	}
}
