@use "@st/utils";

.regulationInfo {
	.content {
		display: grid;
		gap: clamp(2rem, -0.3662rem + 9.0141vw, 6rem);
		align-items: flex-start;
		grid-template-areas:
			"first second"
			"third four";

		@media (width <= 768px) {
			column-gap: 1rem;
			grid-template-areas:
				"first ."
				"four ."
				"third second";
		}

		@media (width <= 480px) {
			grid-template-areas:
				"first"
				"second"
				"four"
				"third";
		}
	}

	.blockFirst {
		grid-area: first;

		@media (width <= 768px) {
			grid-column: 1 / 3;
		}
	}
	.blockSecond {
		grid-area: second;

		@media (width <= 480px) {
			grid-column: 1 / 3;
		}
	}
	.blockThird {
		grid-area: third;

		@media (width <= 480px) {
			grid-column: 1 / 3;
		}
	}
	.blockFour {
		grid-area: four;

		@media (width <= 768px) {
			grid-column: 1 / 3;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: clamp(2rem, 0.9648rem + 3.9437vw, 3.75rem);
	}

	.block {
		gap: clamp(1.25rem, 0.8063rem + 1.6901vw, 2rem);

		.title {
			font-size: var(--fs-desc-h3);
			line-height: 1.3;
		}

		.text {
			font-size: var(--fs-desc-sm);
			max-width: 100%;
		}
	}
}

.clarificationGroup {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: clamp(2.5rem, 1.0211rem + 5.6338vw, 5rem)
			clamp(2.5rem, -2.2324rem + 18.0282vw, 10.5rem);

		@media (width <= 575px) {
			grid-template-columns: 1fr;
		}
	}

	.block {
		max-width: 30rem;

    @media (width <= 768px) {
      gap: 1rem;
		}

    @media (width <= 575px) {
      gap: .75rem;
		}

		.title {
			@extend .text-h3;
		}

		.text {
			font-size: var(--fs-desc-sm);
		}
	}
}

.comments {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1.5rem;

		@media (width <= 991px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (width <= 575px) {
			grid-template-columns: 1fr;
		}
	}
}

.explanation {
	padding-bottom: 3.125rem;

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;

		@media (width <= 768px) {
			grid-template-columns: 1fr;
		}
	}

	.wrapper {
		@media (width <= 768px) {
		}
	}

	.block {
		.subtitle {
			margin-bottom: 1rem;
		}
	}

	.item {
		@extend .text-md;
		display: list-item;
		color: var(--c-primary-600);
		margin-left: 1.5rem;

		a {
			span {
				color: var(--c-red);
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.sendMail {
	padding-top: 3.125rem;

	header {
		margin-bottom: 2.5rem;
	}
}
