@use "@st/utils";

.regulationInfo {
	.contentWrapper {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}

	.content {
		display: flex;
		gap: 6rem;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 3.75rem;
	}

	.reversedWrapper {
		display: flex;
		align-items: center;
		gap: 6rem;
	}

	.block {
		max-width: 30rem;
	}
}

.clarificationGroup {
	.wrapper {
		display: grid;
		grid-template-columns: 30rem 30rem;
		gap: 5rem;
	}

	.block {
		max-width: 30rem;

		h2 {
			@extend .text-h3;
		}
		p {
			@extend .text-sm;
		}
	}
}

.comments {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}
}

.explanation {
	padding-bottom: 3.125rem;
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
	.item {
		@extend .text-md;
		display: list-item;
		color: var(--c-primary-600);
		margin-left: 1.5rem;

		span {
			color: var(--c-red);
		}
	}
}

.sendMail {
	padding-top: 3.125rem;

	header {
		margin-bottom: 2.5rem;
	}
}
