@use "@st/utils";

.explanationBlock {
	.layout {
		display: flex;
		flex-direction: column;

		.wrapper {
			display: flex;
			gap: 1rem;
			margin-bottom: clamp(3.75rem, 3.0769rem + 2.5641vw, 5rem);
		}

		p {
			@extend .text-sm;
		}
	}
}

.steps {
	h2 {
		@extend .text-h2;
	}
	.list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3.75rem 1.5rem;
	}

	.card {
		padding: 3.125rem 2rem 1.625rem 2rem;
		background-color: var(--c-primary-100);
		border-radius: 0.375rem;
		position: relative;

		&::before {
      @extend .text-h4;
			content: attr(data-count);
			position: absolute;
			top: -24px;
			left: 0;
			right: 0;
			margin: auto;
			width: 4rem;
			height: 4rem;
			color: var(--c-white);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100vmax;
			background-color: var(--c-green-400);
			border: 0.375rem solid var(--c-white);
		}
	}

	.heading {
		@extend .text-h4;
		margin-bottom: 1.5rem;
		color: var(--c-primary-800);
		text-align: center;
	}

	.text {
    @extend .text-sm;
		color: var(--c-primary-600);
	}
}

.swiper {
	.slide {
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
		width: 100%;
		background-color: var(--c-primary-700);
		border-radius: 0.375rem;

		.block {
			h2 {
				@extend .text-h3;
			}
		}
	}

	.img {
		margin-bottom: 2.125rem;
		border-radius: 0.1875rem;
	}
}

.faq {
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
	}
}

.account {
	header {
		margin-bottom: 1.5rem;
	}
}
