@use "@st/utils";

.greetings {
	display: flex;
	flex-direction: column;

	header {
		max-width: 100%;
		margin-bottom: 0;
	}

	h2 {
		@extend .text-h2;
		text-align: left;
		margin-bottom: 2.5rem;
		margin-right: auto;
		max-width: 27rem;
	}

	p {
		text-align: left;
		align-items: center;
		margin-inline: auto;
		font-size: var(--fs-desc-md);
		padding-left: 2.5rem;
		max-width: 42rem;
	}
}

.explanationBlock {
	.layout {
		display: flex;
		flex-direction: column;

		.wrapper {
			display: flex;
			gap: 1rem;
			margin-bottom: clamp(3.75rem, 3.0769rem + 2.5641vw, 5rem);
		}

		p {
			@extend .text-sm;
		}
	}
}

.steps {
	h2 {
		@extend .text-h2;
	}
	.list {
		@extend .six-pack-grid;
		gap: 3.75rem 1.5rem;
	}

	.card {
		padding: 3.125rem 2rem 1.625rem 2rem;
		background-color: var(--c-primary-100);
		border-radius: 0.375rem;
		position: relative;
		box-shadow: var(--shadow);

		&::before {
			@extend .text-h4;
			content: attr(data-count);
			position: absolute;
			top: -30px;
			left: 0;
			right: 0;
			margin: auto;
			width: 4rem;
			height: 4rem;
			color: var(--c-white);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100vmax;
			background-color: var(--c-green-400);
			border: 0.375rem solid var(--c-white);
		}
	}

	.heading {
		font-size: var(--fs-desc-md);
		line-height: 1.35;
		margin-bottom: 1.5rem;
		color: var(--c-primary-800);
		text-align: center;
	}

	.text {
		font-size: var(--fs-desc-sm);
		line-height: 1.35;
		font-weight: var(--fw-med);
		color: var(--c-primary-600);
	}
}

.slider {
	@media (width <= 480px) {
		display: none;
	}
	.swiper {
		.slide {
			display: flex;
			flex-direction: column;
			padding: 1.5rem;
			width: 100%;
			background-color: var(--c-primary-700);
			border-radius: 0.375rem;
			max-width: 22.5rem;
			height: auto;

			.block {
				margin-bottom: auto;
				h2 {
					@extend .text-h3;
				}

				p {
					font-size: var(--fs-desc-md);
				}
			}
		}

		.img {
			margin-bottom: 2.125rem;
			border-radius: 0.1875rem;
			height: unset;
		}
	}
}

.faq {
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
	}
}

.account {
	header {
		margin-bottom: 1.5rem;
	}
}
